body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.btn-green {
    background-color: limegreen !important;
    color: white !important;
}

.btn-green:hover {
    background-color: #2AAA2A !important;
}

.btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}